.container
  .row
    .col-xs-12
      h1 Stream
  .row
    .col-md-9
      iframe(src='https://player.twitch.tv/?channel=fightlab', frameborder='0', allowfullscreen='true', scrolling='no', height='500' width='100%')
        a(href="https://www.twitch.tv/fightlab", title="title") FightLab Twitch
    .col-md-3
      iframe(src='https://www.twitch.tv/fightlab/chat?popout=' frameborder='0' scrolling='no' height='500' width='100%')
