.container
  .row
    .col-xs-12.page-header
      h1 Series
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          .panel-title
            h4 {{seriesPlayerCtrl.series.name}}
        .panel-body
          .row.text-center
            .col-xs-12
              h3 {{seriesPlayerCtrl.player.handle}}
          .row
            .col-sm-6.text-center
              h5 Series Score
              h2 {{seriesPlayerCtrl.score.score}}
              br
              h5 Current Rank
              h2 {{seriesPlayerCtrl.score.rank}}
            .col-sm-6.text-center
              table.table.table-hover
                thead
                  th.text-center
                    h5 Tournament
                  th.text-center
                    h5 Score
                tbody
                  tr(ng-repeat='tournament in seriesPlayerCtrl.tournaments | limitTo:seriesPlayerCtrl.limit', ng-click='seriesPlayerCtrl.goToTournament(tournament.tournament[0]._id)')
                    td
                      b
                        a.no-decoration(ui-sref='tournamentSingle({id: tournament.tournament[0]._id})') {{tournament.tournament[0].name}}
                    td
                      a.no-decoration(ui-sref='tournamentSingle({id: tournament.tournament[0]._id})')
                        b {{tournament.score}}
              div(ng-if='seriesPlayerCtrl.tournaments.length > 5')
                br
                button.btn.btn-primary(ng-if='seriesPlayerCtrl.limit === 5', ng-click='seriesPlayerCtrl.showAll()') Show All
                button.btn.btn-primary(ng-if='seriesPlayerCtrl.limit === seriesPlayerCtrl.tournaments.length', ng-click='seriesPlayerCtrl.showLess()') Show Less
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          .panel-title
            h4 Statistics
        .panel-body
          .row.text-center
            .col-sm-6
              .row
                .col-xs-12
                  h3 Matches
              .row
                .col-xs-12
                  h3 {{seriesPlayerCtrl.statistics.matches.winRate | number:1}}%
                    br
                    small Win Rate
              .row
                .col-xs-4
                  h4 {{seriesPlayerCtrl.statistics.matches.played | number:0}}
                    br
                    small Played
                .col-xs-4
                  h4 {{seriesPlayerCtrl.statistics.matches.win | number:0}}
                    br
                    small Wins
                .col-xs-4
                  h4 {{seriesPlayerCtrl.statistics.matches.loss | number:0}}
                    br
                    small Losses
            .col-sm-6
              .row
                .col-xs-12
                  h3 Games
              .row
                .col-xs-12
                  h3 {{seriesPlayerCtrl.statistics.games.winRate | number:1}}%
                    br
                    small Win Rate
              .row
                .col-xs-4
                  h4 {{seriesPlayerCtrl.statistics.games.played | number:0}}
                    br
                    small Played
                .col-xs-4
                  h4 {{seriesPlayerCtrl.statistics.games.win | number:0}}
                    br
                    small Wins
                .col-xs-4
                  h4 {{seriesPlayerCtrl.statistics.games.loss | number:0}}
                    br
                    small Losses
          .row.text-center
            .col-xs-12
              h3 Last {{seriesPlayerCtrl.statistics.latestMatches.length}} Matches
            .col-sm-4(ng-repeat='match in seriesPlayerCtrl.statistics.latestMatches')
              .row
                .col-xs-12
                  h4 {{match.isWinner ? 'Win' : 'Lose'}}
              .row(ng-repeat='playerScr in match.playerScr')
                .col-xs-6
                  h5 {{playerScr}}
                .col-xs-6
                  h5 {{match.opponentScr[$index]}}
              .row
                .col-xs-6
                  h5 {{seriesPlayerCtrl.player.handle}}
                .col-xs-6
                  h5 {{match.opponent.handle}}
              .row
                .col-xs-12
                  p {{match.completed_at | date: 'medium'}}
