.row.text-center
  .col-xs-12
    table.table.table-hover
      thead
        th.text-center
          h4 Rank
        th.text-center
          h4 Player
        th.text-center
          h4 Score
      tbody
        tr(ng-repeat='score in seriesTopPlayersCtrl.top | limitTo:seriesTopPlayersCtrl.limit', ng-click='seriesTopPlayersCtrl.goToSeriesPlayer(score.player[0]._id)')
            td
              a(ui-sref='seriesPlayer({series_id: seriesTopPlayersCtrl.series, player_id: score.player[0]._id})').no-decoration
                b {{seriesTopPlayersCtrl.getRank(score.player[0]._id)}}
            td
              a(ui-sref='seriesPlayer({series_id: seriesTopPlayersCtrl.series, player_id: score.player[0]._id})').no-decoration
                b {{score.player[0].handle}}
            td
              a(ui-sref='seriesPlayer({series_id: seriesTopPlayersCtrl.series, player_id: score.player[0]._id})').no-decoration {{score.score}}
.row(ng-if='seriesTopPlayersCtrl.type === "all"').text-center
  .col-xs-12
    button.btn.btn-primary(ng-if='seriesTopPlayersCtrl.limit === 16', ng-click='seriesTopPlayersCtrl.showAll()') Show All
    button.btn.btn-primary(ng-if='seriesTopPlayersCtrl.limit === seriesTopPlayersCtrl.top.length', ng-click='seriesTopPlayersCtrl.showLess()') Show Less
