hr
.container.text-center
  p
    | Brighton Fighting Game Community - Website by&nbsp;
    a(href='https://www.mkn.sh', title='Mahesh Makani').no-decoration Mahesh Makani (ColdLink)
  p
    a(href="https://github.com/coldlink/brighton-fgc/blob/master/CHANGELOG.md", title="Changelog").no-decoration 0.7.0
  h3
    a(href='https://discord.gg/9kZAXTT', target='_blank', title='Discord').fa.fa-comments-o.no-decoration
    = ' | '
    a(href='https://www.twitch.tv/fightlab', target='_blank', title='Twitch').fa.fa-twitch.no-decoration
    = ' | '
    a(href='https://twitter.com/fight_lab', target='_blank', title='Twitter').fa.fa-twitter.no-decoration
    = ' | '
    a(href='https://www.facebook.com/CSLBrighton', target='_blank', title='Facebook').fa.fa-facebook.no-decoration
    = ' | '
    a(href='https://github.com/coldlink/brighton-fgc', target='_blank', title='GitHub').fa.fa-github.no-decoration

