.container.text-center
  p
    | Brighton Fighting Game Community - Website by&nbsp;
    a(href='https://www.mkn.sh', title='Mahesh Makani') Mahesh Makani
  p
    a(href='https://www.twitch.tv/fightlab').fa.fa-twitch
    = ' | '
    a(href='https://twitter.com/fightlab').fa.fa-twitter
    = ' | '
    a(href='https://www.facebook.com/combosavelives').fa.fa-facebook
    = ' | '
    a(href='https://github.com/coldlink').fa.fa-github
