.container
  .row
    .col-xs-12
      h1 Events
  .row
    .col-xs-12
      h3 Upcoming Events
  .row(ng-repeat='chunk in eventCtrl.upcomingEventsChunk')
    .col-sm-4(ng-repeat='event in chunk')
      .thumbnail.text-center
        .caption
          h4 {{event.name}}
          p {{event.date_time | date:'mediumDate'}}
          p
            a(ng-href='{{event.event_url}}', title="{{event.name}}")
              i.fa.fa-facebook
          p
            a(ui-sref='eventSingle({id: event._id})', title='Full Event Information').btn.btn-primary More Info
  .row
    .col-xs-12
      h3 Past Events
  .row(ng-repeat='chunk in eventCtrl.pastEventsChunk')
    .col-sm-4(ng-repeat='event in chunk')
      .thumbnail.text-center
        .caption
          h4 {{event.name}}
          p {{event.date_time | date:'mediumDate'}}
          p
            a(ng-href='{{event.event_url}}', title="{{event.name}}")
              i.fa.fa-facebook
          p
            a(ui-sref='eventSingle({id: event._id})', title='Full Event Information').btn.btn-primary More Info
