.container
  .row
    .col-xs-12.page-header
      h1 Information
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          .panel-title About
        .panel-body
          p The Fight Lab Brighton and ComboSaveLives are a group of players promoting the Brighton Fighting Game Community.
          p We run events that promote the social nature of gaming, and focus on the competitive nature of fighting games.
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          .panel-title Events
        .panel-body
          .row
            .col-xs-12
              h3 Ha-Brew-Ken
          .row
            .col-xs-12
              p Ha-Brew-Ken is a weekly event taking place every Wednesday from 7PM at BrewDog Brighton.
              p Our main game is currently Street Fighter V, but often run side tournaments in other games, as well as having a range of casual setups.
              p Information about the tournaments, events, games and players are available on this site.
              p Up to date information is available at our Facebook and Twitter, links in the footer below.
          .row
            .col-xs-12
              h3 Ha-Brew-Ken 2017 Series
          .row
            .col-xs-12
              p New Year, New Season.
                br
                | We hope everyone has had a good transition into 2017 and are ready to get back on the grind to become best at [insert game here].
              p The rankings for SFV have been wiped and will be starting from scratch for 2017.
              p In addition to the new SFV series, there will also be a dedicated week for BlazBlue and a dedicated week for UMVC3 which will also have their own ranking table!
                br
                | 1st Wednesday of the month: SFV only + Casuals
                br
                | 2nd Wednesday of the month: SFV + BlazBlue: Central Fiction
                br
                | 3rd Wednesday of the month: SFV + UMVC3
                br
                | 4th Wednesday of the month: SFV + Poll
                br
                | (If there's a 5th Wednesday it'll be: SFV only + Casuals)
          .row.text-center
            .col-xs-12
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.358867349505!2d-0.1376912838888517!3d50.82451637952868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875859f85f1209d%3A0x34e8561b881ac235!2sBrewDog+Brighton!5e0!3m2!1sen!2suk!4v1481479563024', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen)
