.jumbotron.text-center
  .container
    h1 Fight Lab Brighton
      br
      | &
      br
      | Combos Save Lives
    p.lead We focus on altering the public understanding of what it means to be interested in video games, and exploring what it means to participate in or spectate a video games tournament. Based in Brighton, UK
