.container
  .row
    .col-xs-12
      h1 Tournaments
  .row
    .col-xs-12
      h3 Upcoming Tournaments
  .row(ng-repeat='chunk in tournamentCtrl.upcomingTournamentsChunk')
    .col-sm-4(ng-repeat='tournament in chunk')
      .thumbnail.text-center
        .caption
          h4 {{tournament.name}}
          p {{tournament.date_time | date:'mediumDate'}}
          p
            img(ng-src='{{tournament.game.image_url}}', alt='{{tournament.game.short}}').img-rounded
          p {{tournament.game.name}}
          p.btn-group.btn-group-justified
            a(ui-sref='tournamentSingle({id: tournament._id})').btn.btn-primary More Info
            a(ng-href='{{tournament.bracket_url}}', title='{{tournament.name}}', target='_blank').btn.btn-primary Bracket
  .row
    .col-xs-12
      h3 Past Tournaments
  .row(ng-repeat='chunk in tournamentCtrl.pastTournamentsChunk')
    .col-sm-4(ng-repeat='tournament in chunk')
      .thumbnail.text-center
        .caption
          h4 {{tournament.name}}
          p {{tournament.date_time | date:'mediumDate'}}
          p
            img(ng-src='{{tournament.game.image_url}}', alt='{{tournament.game.short}}').img-rounded
          p {{tournament.game.name}}
          p.btn-group.btn-group-justified
            a(ui-sref='tournamentSingle({id: tournament._id})').btn.btn-primary More Info
            a(ng-href='{{tournament.bracket_url}}', title='{{tournament.name}}', target='_blank').btn.btn-primary Bracket
