.container
  .row(ng-repeat='chunk in playerCtrl.playersChunk')
    .col-sm-4(ng-repeat='player in chunk')
      .thumbnail.text-center
        img(ng-src='{{playerCtrl.getImage(player)}}', alt='{{player.handle}}')
        .caption
          h3 {{player.team ? player.team + ' | ' : ''}}{{player.handle}}
          p {{player.name}}
