.container
  .row
    .col-xs-12.page-header
      h1 Statistics
  .row
    .col-sm-4
      .panel.panel-primary
        .panel-body.text-center
          h2 1000
            br
            small Tournaments
    .col-sm-4
      .panel.panel-primary
        .panel-body.text-center
          h2 1000
            br
            small Events
    .col-sm-4
      .panel.panel-primary
        .panel-body.text-center
          h2 1000
            br
            small Players
  .row
    .col-xs-6
      .panel.panel-primary
        .panel-body.text-center
          h2 1000
            br
            small Matches
    .col-xs-6
      .panel.panel-primary
        .panel-body.text-center
          h2 1000
            br
            small Games
