.container
  .row
    .col-xs-12.page-header
      h1 Statistics
  .row
    .col-sm-3.col-xs-6
      .panel.panel-primary
        .panel-body.text-center
          h2 {{statisticsCtrl.statistics[0]}}
            br
            small Tournaments
    .col-sm-3.col-xs-6
      .panel.panel-primary
        .panel-body.text-center
          h2 {{statisticsCtrl.statistics[1]}}
            br
            small Events
    .col-sm-3.col-xs-6
      .panel.panel-primary
        .panel-body.text-center
          h2 {{statisticsCtrl.statistics[2]}}
            br
            small Players
    .col-sm-3.col-xs-6
      .panel.panel-primary
        .panel-body.text-center
          h2 {{statisticsCtrl.statistics[3]}}
            br
            small Matches
  .row
    .col-xs-12.page-header
      h3 Head To Head
  .row
    .col-xs-4.form-group
      label Player 1
      select.form-control(ng-model='statisticsCtrl.player1', ng-change='statisticsCtrl.changeHeadToHead()')
        option(value='') Select Player...
        option(ng-repeat='player in statisticsCtrl.players', value='{{player._id}}') {{player.handle}}
    .col-xs-4.form-group
      label Player 2
      select.form-control(ng-model='statisticsCtrl.player2', ng-change='statisticsCtrl.changeHeadToHead()')
        option(value='') Select Player...
        option(ng-repeat='player in statisticsCtrl.players', value='{{player._id}}') {{player.handle}}
    .col-xs-4.form-group
      label Games
      select.form-control(ng-model='statisticsCtrl.game', ng-change='statisticsCtrl.changeHeadToHead()')
        option(value='') Select Game...
        option(ng-repeat='game in statisticsCtrl.games', value='{{game._id}}') {{game.name}}
  .panel.panel-primary(ng-if='statisticsCtrl.headToHead')
    .panel-heading
      .panel-title {{statisticsCtrl.headToHead.player.handle}} vs {{statisticsCtrl.headToHead.opponent.handle}}
    .panel-body
      .row.text-center
        .col-sm-6
          .row
            .col-xs-12
              h3 Matches
          .row
            .col-xs-6
              h3 {{statisticsCtrl.headToHead.matches.playerWinRate | number:1}}%
                br
                small {{statisticsCtrl.headToHead.player.handle}} Win Rate
            .col-xs-6
              h3 {{statisticsCtrl.headToHead.matches.opponentWinRate | number:1}}%
                br
                small {{statisticsCtrl.headToHead.opponent.handle}} Win Rate
          .row
            .col-xs-4
              h4 {{statisticsCtrl.headToHead.matches.played | number:0}}
                br
                small Played
            .col-xs-4
              h4 {{statisticsCtrl.headToHead.matches.playerWin | number:0}}
                br
                small {{statisticsCtrl.headToHead.player.handle}} Wins
            .col-xs-4
              h4 {{statisticsCtrl.headToHead.matches.opponentWin | number:0}}
                br
                small {{statisticsCtrl.headToHead.opponent.handle}} Wins
        .col-sm-6
          .row
            .col-xs-12
              h3 Games
          .row
            .col-xs-6
              h3 {{statisticsCtrl.headToHead.games.playerWinRate | number:1}}%
                br
                small {{statisticsCtrl.headToHead.player.handle}} Win Rate
            .col-xs-6
              h3 {{statisticsCtrl.headToHead.games.opponentWinRate | number:1}}%
                br
                small {{statisticsCtrl.headToHead.opponent.handle}} Win Rate
          .row
            .col-xs-4
              h4 {{statisticsCtrl.headToHead.games.played | number:0}}
                br
                small Played
            .col-xs-4
              h4 {{statisticsCtrl.headToHead.games.playerWin | number:0}}
                br
                small {{statisticsCtrl.headToHead.player.handle}} Wins
            .col-xs-4
              h4 {{statisticsCtrl.headToHead.games.opponentWin | number:0}}
                br
                small {{statisticsCtrl.headToHead.opponent.handle}} Wins
        .row.text-center
          .col-xs-12
            h3 Last {{statisticsCtrl.headToHead.latestMatches.length}} Matches
          .col-sm-4(ng-repeat='match in statisticsCtrl.headToHead.latestMatches')
            .row
              .col-xs-12
                h4 {{match.isWinner ? (statisticsCtrl.headToHead.player.handle + ' Win') : (statisticsCtrl.headToHead.opponent.handle + ' Win')}}
            .row(ng-repeat='playerScr in match.playerScr')
              .col-xs-6
                h5 {{playerScr}}
              .col-xs-6
                h5 {{match.opponentScr[$index]}}
            .row
              .col-xs-6
                h5 {{statisticsCtrl.headToHead.player.handle}}
              .col-xs-6
                h5 {{statisticsCtrl.headToHead.opponent.handle}}
            .row
              .col-xs-12
                p {{match.completed_at | date: 'medium'}}
  .panel.panel-primary(ng-if='statisticsCtrl.headToHeadErr')
    .panel-heading
      .panel-title Not Found
    .panel-body.text-center
      h4 No matchups found for the current selection. Please try another selection.
